/**
 * @author Archie
 * Colors
 *
 */



/* ==========================================================================
  Used Colors
========================================================================== */

$black: #000;
$grey: #999999;
$red: red;