@charset 'UTF-8';


/* ==========================================================================
  Load Dependencies
========================================================================== */

@import
  'colors',
  'fonts',
  'typography',
  'settings';




/* ==========================================================================
  Body
========================================================================== */

body {
  background: #fff !important;
  padding-top: 3rem;

  .container {
    overflow: hidden;
    margin-bottom: 6rem;
  }

  #content {
    border: 0;
    padding: 0;

    figure {
      margin: 0 0 30px 0;
      padding: 0;
    }
  }

  .content-block {
    padding: 20px 0;
  }

  .index-card {
    border: none;
  }

  .entry-content {
    display: inline-block;
    padding: 0 20px;
    width: 100%;

    .eighty {
      display: inline-block;
      font-size: 14px;
      float: left;
      padding: 0 0 20px;
      width: 80%;

      p,
      ul {
        font-size: inherit;
        margin: 0;

        li {
          list-style-type: none;
        }
      }
    }
  }
}





/* ==========================================================================
  Home page
========================================================================== */

.home {
  overflow: hidden;

  .container {
    //height: 80vh;
    height: calc(100vh - 180px);
    width: 100%;

  }

  #info-btn { border: 1px solid red;
    font-family: 'glassworks_01';
    content: '\0045';
    font-size: 26px;
  }

  .entry-content {
    max-width: 100%;
    max-height: 70%;

    .home-carousel {
      height: calc(100vh - 180px);

      .slick-list {
        height: inherit !important;

        .slick-slide {

          .gallery-photo {

            img {   //height:300px; width: auto;
              margin: 0 auto;
            }
          }
        }
      }
    }

    .slick-prev:before,
    .slick-next:before {  color: red !important;


    }

  }


}








/* ==========================================================================
  Blog List
========================================================================== */

.blog {

  #content {

    header {
      margin-bottom: 1.25rem;
    }

    h2 {
      color: $grey;
      margin-bottom: 0.25rem;

      a{
        color: $grey;

        &:hover {
          color: $black;
        }
      }
    }

    .index-card {
      margin-bottom: 0;
    }

    #post-nav {

      .post-previous,
      .post-next {

        a {
          color: $grey;
          font-family: "nimbus-sans-extended",sans-serif !important;
          font-weight: 400 !important;
          font-size: 16px;
          text-transform: uppercase;

          &:hover {
            color: $black;
          }
        }
      }
    }
  }
}




/* ==========================================================================
  Blog Single
========================================================================== */

.single-post {

  #content {
    overflow:hidden;

    .eighty {

      p,
      ul {
        margin: 0 0 20px;
      }
    }

    p.post-info {
      font-size: 16px;
      text-transform: uppercase;
    }

    figure {
      margin: 20px 0 !important;

      img {
        height: auto;
        max-width: 90%;
        width: unset;
      }
    }
  }
}





/* ==========================================================================
  Contact Us
========================================================================== */

#map {
  display: inline-block;
  height: 400px;
  margin-bottom: 20px;
  max-width: 90%;
  width: 100%;
}





/* ==========================================================================
  Footer
========================================================================== */

.footer-widget {
  background-color: #fff !important;
}


footer {
  bottom: 0;
  height: 80px;
  left: 0;
  position: fixed;
  overflow: scroll;
  width: 100%;


  &.full-width {
    padding-top: 25px !important;
    padding-right: 20px !important;
    padding-bottom: 25px !important;
    padding-left: 20px !important;
  }

  &.closed-menu {
    height: 80px;
    overflow: hidden;
  }

  &.open-menu {
    height: 100% !important;
  }

  img {
    float: left;
    margin-right: 50px;
  }

  ul#menu-main-menu {
    display: inline-block;
    float: left;

    li {
      float: left;
      list-style-type: none;
      padding: 0 20px;

      a {
        color: $grey;
        font-size: 16px;
        font-family: "nimbus-sans-extended",sans-serif !important;
        opacity: 1;
        text-decoration: none;
        text-transform: uppercase;
      }

      & > a:hover,
      &.current-menu-item > a,
      &.current_page_parent > a {
        color: $black;
      }
    }
  }

  #gallery-toggle {
    color: $black;
    font-family: 'glassworks_01' !important;

    &:hover {
      color: $grey;
    }
  }

  #gallery-toggle:before {
    content: '\0043';
    cursor: pointer;
    display: block;
    float: right;
    font-size: 22px;
    position: absolute;
    right: 30px;
    top: 20px;
  }


  /* Gallery Thumbnails */
  .gallery-thumbnails-wrapper {

    .gallery-thumbnails {
      display: inline-block;
      width: 100%;

      .gallery-thumb-group {

        h2 {
          color: $black;
          display: block;
          padding: 60px 0 30px;
        }

        ul {
          display: inline-block;
          margin: 0;
          width: 100%;

          li {
            float: left;
            list-style-type: none;
            margin: 10px 0 30px;
            width: 20%;

            a{
              text-decoration: none;

              img {
                display: block;
                float: none;
                margin: 0 auto;
                padding: 0 5px;
              }
            }
          }
        }
      }
    }
  }
}





/* ==========================================================================
  Responsive CSS
========================================================================== */

@media screen and (max-width: 900px) {


  body {

    .entry-content {

      .eighty {
        width: 100%;

        #map {
          max-width: 100%;
        }
      }
    }
  }

  /*
  footer{

    ul#menu-main-menu {

      li { border: 1px solid red;
        display: block;
        float: left;
        width: 100%;

        a {

        }
      }

    }
  }
  */

}




@media screen and (max-width: 480px) {




  /* Footer */
  footer {

    .gallery-thumbnails-wrapper {

      .gallery-thumbnails {

        .gallery-thumb-group {

          ul {

            li {
              width: 33.333%;

              a {

                img {

                }
              }
            }
          }
        }
      }
    }
  }

}





/*! normalize.css v2.1.3 | MIT License | git.io/normalize */

/**
* Correct block display not defined in IE 8/9.
*/

